

.container {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    aspect-ratio: 1;
    justify-content: center;
}


.container div {
    box-sizing: border-box;
    background-color: blue;
    width: calc(100% / 24);   /* 1/16 of container width */
    height: calc(100% / 24);  /* 1/16 of container height */
    border: 1px solid black;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}