

.container {
    width: 400px;
    height: 400px;
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    aspect-ratio: 1;
    justify-content: center;
    border: 1px solid black;
}


.container div {
    box-sizing: border-box;
    background-color: rgb(rgb(96, 93, 93), green, blue); 
    border: 1px solid black;

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}